## Ignore Visual Studio / VS Code / Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Instalador (artefactos locales)
Installer/publish/
Installer/Output/

## SQLite temporales
*.db-shm
*.db-wal

## OS
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
